#texto {
    float: left;
    width: 15%;
    padding: 20px;
}

#inputs {
    float: left;
    width: 30%;
    padding: 5px;
}

.contenedor {
    width: 100%;
    height: 500px;
    text-align: center;
}

#boton {
    float: left;
    clear: both;
    position: relative;
    top: 30px;
    left: 200px;
}

#campos {
    float: left;
    clear: both;
    position: relative;
    top: 60px;
    left: 200px;
}

#top {
    width: 100%;
    height: 50px;
    text-align: center;
}

body {
    background-color: #8a97ab;
}

a {
    background-color: #8a97ab;
}

#DataList1 {
    background-color: #8a97ab;
}

ItemTemplate {
    background-color: #8a97ab;
    padding: 10px;
}

div {
    color: black;
}

table {
    background-color: #8a97ab;
    border: solid 2px black;
}

tbody {
    background-color: #8a97ab;
}

tr {
    background-color: #8a97ab;
}

#ListView1_paginado {
    background-color: #8b99ac;
    text-align: center;
}
